/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#page {
    padding:16px;
}
.card-list md-card {
    margin:16px;
    width:300px;
    display:flex;
    flex-direction:column;
}
md-card-content {
    flex-grow:1;
}
md-card-actions {
    text-align:right;
}
.card-list {
    margin: 0 -16px;
    display:flex;
    flex-wrap: wrap;
}